.preparacion{
    background-color: rgb(151, 226, 39);
    color:darkgreen;
    border-color: greenyellow;
    font-weight: bold;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    font-size: smaller;
    text-align: center;
}



